<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    <link rel="stylesheet" type="text/css" href="generic.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="reload.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
</head>

<body>
    <%- include("header") -%>
    <%- include("reload") -%>
    <div id="mainbox">
        <h1 id="welcome">Welcome!</h1>
        <p>Share your ideas here!</p>
        <p id="greet">Hi, <%= username %>!</p>
        <hr>
        <form action="/send" method="POST">
            <fieldset>
                <legend>Write something</legend>
                <p>Your title: <input type="text" name="title"></p>
                <p>Your message:</p>
                <textarea name="message"></textarea>
                <button>Send!</button>
            </fieldset>
        </form>

        <div id="messages">
            <% messages.forEach(obj => { %>
            <div class="msg">
                <p><a href="/p/<%= obj.id %>"><%= obj.title %></a></p>
                <blockquote><%= obj.message.substr(0,10).concat("...") %></blockquote>
                <p><%= obj.user + " | " + obj.time %></p>
            </div>
            <% }) %>
        </div>
    </div>

    <%- include("footer") -%>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        function reload() {
            location.reload();
        }

        socket.on("reload", function () {
            var div = document.getElementById("reload");
            div.style.display = "block";
        });
    </script>

</body>

</html>