<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    <link rel="stylesheet" type="text/css" href="generic.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="reload.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <%- include("header") -%>
    <%- include("reload") -%>
    <div id="mainbox">
        <h1 id="welcome">Welcome!</h1>
        <p>Share your ideas here!</p>
        <p id="greet">Hi, <%= username %>!</p>
        <hr>
        <form action="/send" method="POST">
            <fieldset>
                <legend>Write something</legend>
                <p>Your title: <input type="text" name="title"></p>
                <p>Your message:</p>
                <textarea name="text"></textarea>
                <button>Send!</button>
            </fieldset>
        </form>

        <div id="topics">
            <% topics.forEach(obj => { %>
            <div class="topic">
                <p><a href="/topic/<%= obj.id %>"><%= obj.title %></a></p>
                <blockquote><%= obj.text.substr(0,10).concat("...") %></blockquote>
                <p><%= obj.user + " | " + obj.time %></p>
            </div>
            <% }) %>
        </div>
    </div>
    <%- include("footer") -%>
</body>

</html>